body {
    background-image: url(../../images/Background.png) !important;
}

footer.sticky-footer {
    padding: 1rem;
    flex-shrink: 0;
}

footer.sticky-footer .copyright {
    line-height: 0;
    font-size: 0.8rem;
}

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}
